<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imagefunctions2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7e154307-8493-442a-a88e-9967504013c7/resourcegroups/test-RG/providers/Microsoft.Web/sites/ImageFunctions2023</ResourceId>
    <UserName>$ImageFunctions2023</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://imagefunctions2023.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>